<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 3</title>
</head>
<body>

    <div class="container">
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>What are the key demographic drivers of economic growth?</h1>
            <p>Data: World Bank, 1990-2019 (30 years)</p>
          </div>
        </div>
        <div class="row">          
          <div class="col-md-5">
            <div id="scatter_1"></div>
            <div id="corr_1"></div>
          </div>
          <div class="col-md-5">
            <div id="scatter_2"></div>
            <div id="corr_2"></div>
          </div>
          <div class="col-md-5">
            <div id="scatter_3"></div>
            <div id="corr_3"></div>
          </div>
          <div class="col-md-5">
            <div id="scatter_4"></div>
            <div id="corr_4"></div>
          </div>
          <div class="col-md-2">
            <div class="well">
              <h5>Select Country:</h5>
              <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Country Info</h3>
              </div>
              <div id="sample-metadata" class="panel-body"></div>
            </div>
          </div>
        </div>        
    </div>
    
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="./static/js/app.js"></script>
    <script type="module" src="./lib/spearson.js"></script>
    <script src="../path/to/statistics.min.js" type="text/javascript"></script>

</body>

</html>